<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>catboy.house</title>
    <link rel="stylesheet" type="text/css" href="/assets/index.css">
    <link rel="stylesheet" href="https://unpkg.com/7.css"/>
</head>
<body class="window glass active">
<header class="title-bar">
    <h1 class="title-bar-text">catboy.house</h1>
    <div class="title-bar-controls">
        <button aria-label="Close"></button>
    </div>
</header>
<main class="window-body">
    <p>
        <strong>catboy.house</strong> is a hosting project for public and private services.
    </p>
    <p>
        The infrastructure is managed with Ansible and the code is <a
            href="https://github.com/yuri-becker/catboy-house">publicly available</a>.
    </p>
    {{#*inline "service"}}
        <div class="service">
            <h3> {{this.name}} </h3>
            {{#if this.image}}
                <img src="/assets/{{this.image}}" alt="" aria-hidden="true">
            {{/if}}
            {{#if this.description}}
                <p>{{{this.description}}}</p>
            {{/if}}
            {{#if this.url}}
                <a href="{{this.url}}">
                    <button>Go To {{this.name}} →</button>
                </a>
            {{/if}}
        </div>
    {{/inline}}
    <section class="services">
        {{#each public_services}}
            {{> service}}
        {{/each}}
    </section>
    <section class="services">
        {{#if private_services}}
            <h2>Private Services</h2>
            {{#each private_services}}
                {{> service}}
            {{/each}}
        {{/if}}
    </section>
    <section class="donation">
        <h2>Want to support catboy.house?</h2>
        <p>This server currently costs me 125€/month. I could use every cent to help me with infrastructure costs :3 .</p>
        <p class="kofi"><a href='https://ko-fi.com/X8X619JMR' target='_blank'><img src='/assets/kofi.png' alt='Support me on Ko-Fi' /></a></p>
    </section>
</main>
<footer class="status-bar">
    <p class="status-bar-field">
        View this page on <a href="https://github.com/yuri-becker/catboy-house-web/">GitHub</a>
    </p>
    <p class="status-bar-field">
        Background by <a
            href="https://unsplash.com/@kalenemsley?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Kalen
        Emsley</a> on <a
            href="https://unsplash.com/photos/green-mountain-across-body-of-water-Bkci_8qcdvQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>

    </p>
    <p id="login-status" class="status-bar-field">
        {{#if is_logged_in}}
            Not {{name}}? <a href="/oidc/logout">Logout</a>.
        {{else}}
            Have a catboy.house account? <a href="/oidc/login">Login</a> to view more!
        {{/if}}
    </p>
</footer>
</body>
